@media (max-width: 900px) {
  
    .page {
        background-color: $second-color;
        color: $third-color;
        grid-column: 2;
        border-radius: 15px;
        border: 5px solid blue;
        
    .heading {
        display: flex;      
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        .group-button {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: center; 
            align-items: center;  
        }

       img {
        width: 20%;
    }

    header{
        font-size: $font-heading;
    }

    }
}